<div class="container">
  <div class="row">
    <div class="px3 mx-auto" style="text-align:center;">
      <h1>ご注文ありがとうございました！</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <%= link_to "トップページへ", root_path %>
    </div>
  </div>
</div>
